<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Servlet</display-name>
  <welcome-file-list>
    <welcome-file>login.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>upload</servlet-name>
    <servlet-class>ejemplos.valeriano.UploadFileExample</servlet-class>
    <init-param><param-name>RUTA_SUBIDA_FICHEROS</param-name><param-value>C:\logs</param-value></init-param>
    <multipart-config>
      <max-file-size>3145728</max-file-size>
      <max-request-size>5242880</max-request-size>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>main.listeners.Context</listener-class>
  </listener>
  <listener>
    <listener-class>main.listeners.Sesion</listener-class>
  </listener>
  <listener>
    <listener-class>main.listeners.Request</listener-class>
  </listener>
  <context-param>
    <param-name>username</param-name>
    <param-value>system</param-value>
  </context-param>
  <session-config>
    <session-timeout>1</session-timeout>
  </session-config>
  <error-page>
    <error-code>404</error-code>
    <location>/ServletError</location>
  </error-page>
  <error-page>
    <exception-type> javax.servlet.ServletException </exception-type>
    <location>/ ServletError</location>
  </error-page>
</web-app>